<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-centered">
  <div class="search-description">
    <h1 class="text-center">Lorem ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam elementum vestibulum tellus. Phasellus eu arcu massa. Vestibulum ut ultrices ligula,
      semper pretium tellus. Nulla placerat nulla quis ex fermentum pharetra. Vivamus pretium, lectus et
      tempor ornare, neque metus mollis tellus, ac faucibus mauris nisi eget urna. Nam sit amet risus vitae
      lectus sollicitudin suscipit.
    </p>
  </div>
  <div class="search-field">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="place">Name</label>
        <input type="text" class="form-control input-lg" id="place" placeholder="Wpisz miejsce">
      </div>
      <div class="form-group">
        <label class="sr-only" for="date">Email</label>
        <input type="date" class="form-control input-lg" id="date" placeholder="Wybierz datę">
      </div>
      <button type="submit" class="btn btn-danger btn-lg">Szukaj wydarzeń</button>
    </form>
  </div>
</div>
