<div class="row row-centered">
  <div id="search" class="homepage-box">
    <%= render 'search' %>
  </div>
</div>

<hr class="hr-line"/>

<div class="row row-centered">
  <div id="popular-events" class="col-sm-12">
    <%= render 'popular' %>
  </div>
</div>


