.row.bg-image
  .main-page-description
    %h1.text-center Znajdź ciekawe wydarzenia!
    %p
      Witam serdecznie na stronie głownej aplikacji stworzonej na potrzeby egzaminu licencjackiego
      na kierunku Elektroniczne Przetwarzanie Informacji. Opiekunem pracy był dr hab. Grzegorz Biliński.  Aplikacja umożliwia wyszukiwanie wydarzeń
      po podaniu miasta oraz daty, daje także możliwośc stworzenia swojego konta, dzięki czemu jesteśmy w
      stanie dodawać własne wydarzenia oraz zapisywac do naszego "kalendarza" wydarzenia, na które chcielibyśmy się
      wybrać. Zapraszam do korzystania!
    %p
      Radosław Stolarski
  = render 'search'
.row.row-centered
  #popular-events.col-sm-12
    = render 'popular'
