<h2>Najnowsze wydarzenia w mieście <%= @city.name %></h2>
<% @newest.each do |event| %>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <h4><%= event.name %></h4>
      <%= link_to city_event_path(@city, event) do %>
          <%= image_tag event.image(:thumb) %>
      <% end %>
    </div>
<% end %>