<%= link_to 'Wróć do profilu', profile_path(current_user), class: 'btn btn-primary' %>
<h1>Edytuj wydarzenie</h1>

<%= render 'form' %>

<%= link_to 'Pokaż', [@event.city, @event] %> |
<%= link_to 'Wróć', :back %>
