<div class="row">
  <% @cities.each do |city| %>
  <div class="col-md-3">
    <h3><%= city.name %></h3>
    <%= link_to city_path(city) do %>
        <%= (image_tag city.image(:thumb)) %>
    <% end %>
  </div>
      <% end %>
</div>