<div class="row">
  <div id="events-top-belt" class="col-md-12">
    <h1>Odkryj wspaniałe miejsca pełne interesujących wydarzeń!</h1>
    <hr class="hr-line"/>
    <% if current_user && current_user.admin? %>
    <%= link_to 'Dodaj nowe miasto', new_city_path, class: 'btn btn-success' %>
    <% end %>
  </div>
  <% @cities.each do |city| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <h3><%=link_to city.name, city_path(city) %></h3>
        <%= link_to city_path(city) do %>
            <%= (image_tag city.image(:thumb)) %>
        <% end %>
      </div>
  <% end %>
</div>