<div class="row">

  <div class="col-sm-12">
    <div class="col-sm-3">
      <h1><%= @city.name %></h1>
    </div>

    <div class="col-xs-3">
    </div>
  </div>

  <div class="col-sm-12 col-md-7">
    <%= image_tag @city.image(:large), class: "img-responsive" %>
  </div>

  <div class="col-sm-12 col-md-5 centered">
    <%= render 'cities/partials/propositions' %>
  </div>

</div>



<hr class="hr-line"/>

<div class="row row-centered">
  <div id="newest-events" class="homepage-box">
    <%= render 'cities/partials/newest' %>
  </div>
</div>
