// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2.no-margin-top {
  margin-top: 0;
}

.button-see-all {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.img-centered {
  margin: 0 auto;
}

.centered {
  text-align: center;
}



.event-name {
  min-height: 2em;
}

.event-item {
}

@media screen and (max-width: 992px) {
  .event-item {
    margin-top: 20px;
  }
  .today-city-events {
      margin-top: 30px;
  }

}
