// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-image-cities {
  background-image: image-url("city_photo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  margin-top: -20px;
  position: relative;

  .slogan {
    width: 50%;
    margin: 0 auto;
    color: #e3f2ff;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    width: 460px;
    height: 50px;
    margin-top: 100px;

    h2 {
      margin-left: 10px;
      font-size: 42px;
    }
  }
}

.bg-image-cities-index {
  background-image: image-url("cities_photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  margin-top: -20px;
  position: relative;

  .slogan {
    width: 50%;
    margin: 0 auto;
    color: #e3f2ff;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    width: 460px;
    height: 50px;
    margin-top: 100px;

    h2 {
      margin-left: 10px;
      font-size: 42px;
    }
  }
}

h2.no-margin-top {
  margin-top: 0;
}

.button-see-all {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.img-centered {
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.city-thumb {
  text-align: center;
}

.event-name {
  min-height: 2em;
}

.event-item {
}

@media screen and (max-width: 992px) {
  .event-item {
    margin-top: 20px;
  }
  .today-city-events {
      margin-top: 30px;
  }

}
