@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

/* centered columns styles */
.row-centered {
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

/* search */
#search-form {
  padding-top: 27px;
}
.search-description {
  margin-bottom: 5%;
}

.search-field {
  text-align: center;
  height: 100px;
  background-color: chocolate;
  border-radius: 20px;

}

/* hr line */
.hr-line {
  width: 101%;
  color: black;
  height: 1px;
  background-color: lightslategray;
}

/* footer */
.footer {
  background-color: #222222;

  #footer-opinion-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #footer-sitemap {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* event site */
#similar {
  margin-bottom: 10%;
}

/* events list site*/
.event-list-items {

  .event-list-item {
    h3{
    	margin-top:0;
    }
  }

  #event-image {
//    width:200px;
//    height: 200px;
  }

  #event-info {}

  #event-title {
    background-color: #666666;
      margin-top: 0;
  }
  #event-location {
    background-color: aquamarine;
  }
  #event-additional {
    background-color: slateblue;
  }
  #event-button {
    background-color: #730E15;
  }
}
/* Autocomplete*/
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

/* Categories sidebar*/
.category-active{
  color: red;
}

/* New event form */
.cost_label{

}

.short {
  max-width: 100px;
}

.copyright {
  color: whitesmoke;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 80%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer {
  height: 10em;
}

.add-event {
  margin-top: 20px
}
