@import "bootstrap-sprockets";
@import "bootstrap";

/* centered columns styles */
.row-centered {
  text-align:center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

/* search */
.search-description {
  margin-bottom: 5%;
}

/* hr line */
.hr-line {
  width: 100%;
  color: black;
  height: 1px;
  background-color: lightslategray;
}

/* footer */
.footer {
  background-color:lightslategray;

  #footer-opinion-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #footer-sitemap {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

