<form id="footer-opinion-form">
  <div class="form-group">
    <label for="opinion" class="sr-only">Wyraź swoją opinię</label>
    <textarea class="form-control" rows="3" placeholder="Napisz, co sądzisz o stronie"></textarea>
  </div>
  <div class="form-group">
    <label for="email" class="sr-only">Twój email</label>
    <input type="email" class="form-control" id="email" placeholder="Twój email">
  </div>
  <button type="submit" class="btn btn-warning">Wyślij opinię</button>
</form>