<%= form_tag events_path, :method => 'get', class: 'navbar-form navbar-left', role:'search' do %>
    <div class="form-group">
      <label class="sr-only" for="place">Name</label>
      <%= text_field_tag :search,
                         params[:search],
                         class: 'form-control',
                         placeholder: 'Miasto (np. Kraków)',
                         type: 'search',
                         data: {
                                 autocomplete: homepage_autocomplete_city_name_path
                         }
      %>
    </div>
    <div class="form-group">
      <label class="sr-only" for="date">Date</label>
      <%= text_field_tag :start_date,
                         params[:start_date],
                         placeholder: 'Data',
                         class: 'form-control date short',
                         :data => {
                                 provide: 'datepicker'
                         }
      %>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Szukaj</button>
<% end %>

<script type="text/javascript">
    $( document ).ready(function() {
        $(".date").datepicker({
            'language': "pl",
            'todayHighlight': true,
            'format': 'dd-mm-yyyy',
            'autoclose': true
        })
    });
</script>