<div class="filter-box">
  <h4>Kategorie</h4>
<ul>
  <% @categories.each do |category| %>
      <% if category.id.to_s == params[:category_id] %>
          <li class="category-active">
      <% else %>
          <li>
      <% end %>
        <%= link_to category.name, events_path(
                                         :search => params[:search],
                                         :start_date => params[:start_date],
                                         :category_id => category.id,
                                         :effort => params[:effort],
                                         :cost => params[:cost]
                                 )
        %>
      </li>
  <% end %>
  <% if params[:category_id] %>
      <%= link_to 'Usuń filtr', events_path(
                                      :search => params[:search],
                                      :start_date => params[:start_date],
                                      :category_id => nil,
                                      :effort => params[:effort],
                                      :cost => params[:cost]
                              )
      %>
  <% end %>
</ul>
</div>