<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Kategorie</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @categories.each do |category| %>
          <li class="<%=  "category-active" if category.id == params[:category_id] %>">
            <%= link_to category.name, events_path(
                                             :search => params[:search],
                                             :start_date => params[:start_date],
                                             :category_id => category.id,
                                             :effort => params[:effort],
                                             :cost => params[:cost]
                                     )
            %>
          </li>
      <% end %>
      <% if params[:category_id] %>
          <%= link_to 'Usuń filtr', events_path(
                                           :search => params[:search],
                                           :start_date => params[:start_date],
                                           :category_id => nil,
                                           :effort => params[:effort],
                                           :cost => params[:cost]
                                   )
          %>
      <% end %>
    </ul>
  </div>
</div>