.filter-box
  %h4 Koszt
  %ul.filter
    - cost.each do |cost|
      - if cost.id.to_s == params[:cost_id]
        %li.category-active
      - else
        %li
      = link_to cost.name, events_path(                  |
                   :search => params[:search],           |
                   :start_date => params[:start_date],   |
                   :category_id => params[:category_id], |
                   :effort_id => params[:effort_id],     |
                   :cost_id => cost.id                   |
           ),                                            |
        class: 'filter-button'                           |
    - if params[:cost_id]
      = link_to 'Wyczyść filtr', events_path(         |
                :search => params[:search],           |
                :start_date => params[:start_date],   |
                :category_id => params[:category_id], |
                :effort_id => params[:effort_id],     |
                :cost_id => nil                       |
        )                                             |
