<div class="filter-box">
  <h4>Koszt</h4>
  <ul class="filter">
    <% cost.each do |key, value| %>
        <% if value.to_s == params[:cost] %>
            <li class="category-active">
        <% else %>
            <li>
        <% end %>
        <%= link_to key, events_path(
                               :search => params[:search],
                               :start_date => params[:start_date],
                               :category_id => params[:category_id],
                               :effort => params[:effort],
                               :cost => value
                       ),
                    class: 'filter-button'
        %></li>
    <% end %>
    <% if params[:cost] %>
        <%= link_to 'Wyczyść filtr', events_path(
                                        :search => params[:search],
                                        :start_date => params[:start_date],
                                        :category_id => params[:category_id],
                                        :effort => params[:effort],
                                        :cost => nil
                                )
        %>
    <% end %>
  </ul>
</div>