<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Wysiłek</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% effort.each do |key, value| %>
          <li class="<%=  "category-active" if effort == params[:effort] %>">
            <%= link_to key, events_path(
                                   :search => params[:search],
                                   :start_date => params[:start_date],
                                   :category_id => params[:category_id],
                                   :effort => value,
                                   :cost => params[:cost]
                           )
            %></li>
      <% end %>
      <% if params[:effort] %>
          <%= link_to 'Usuń filtr', events_path(
                                          :search => params[:search],
                                          :start_date => params[:start_date],
                                          :category_id => params[:category_id],
                                          :effort => nil,
                                          :cost => params[:cost]
                                  )
          %>
      <% end %>
    </ul>
  </div>
</div>