<div class="filter-box">
  <h4>Wysiłek</h4>
  <ul class="filter">
    <% effort.each do |effort| %>
        <% if effort.name == params[:effort] %>
            <li class="category-active">
        <% else %>
            <li>
        <% end %><%= link_to effort.name, events_path(
                                        :search => params[:search],
                                        :start_date => params[:start_date],
                                        :category_id => params[:category_id],
                                        :effort => effort.id,
                                        :cost => params[:cost]
                                ),
                             class: 'filter-button'

  %></li>
    <% end %>
    <% if params[:effort] %>
        <%= link_to 'Wyczyść filtr', events_path(
                                        :search => params[:search],
                                        :start_date => params[:start_date],
                                        :category_id => params[:category_id],
                                        :effort => nil,
                                        :cost => params[:cost]
                                )
        %>
    <% end %>
  </ul>
</div>