<article class="events_fields_description">
  <div class="events_field_desc" id="event-image">
  </div>
  <div class="events_field_desc" id="event-title">
    <h3>Co się wydarzy?</h3>
  </div>
  <div class="events_field_desc" id="event-location">
    <h3>Gdzie się wydarzy?</h3>
  </div>
  <div class="events_field_desc" id="event-time">
    <h3>Kiedy się wydarzy?</h3>
  </div>
</article>