.panel.panel-primary
  .panel-heading
    %h3.panel-title Filtrowanie
  .panel-body
    = render 'events/partials/categories_filter'
    = render 'events/partials/cost_filter'
    = render 'events/partials/effort_filter'
