<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Filtrowanie</h3>
  </div>
  <div class="panel-body">
    <%= render 'events/partials/categories_filter' %>
    <%= render 'events/partials/cost_filter' %>
    <%= render 'events/partials/effort_filter' %>
  </div>
</div>