<h2>Podobne wydarzenia</h2>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <h3>Wydarzenie 1</h3>
  <%= image_tag ("morze.jpg"), class: 'img-responsive'%>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <h3>Wydarzenie 2</h3>
  <%= image_tag ("morze.jpg"), class: 'img-responsive'%>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <h3>Wydarzenie 3</h3>
  <%= image_tag ("morze.jpg"), class: 'img-responsive'%>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
  <h3>Wydarzenie 4</h3>
  <%= image_tag ("morze.jpg"), class: 'img-responsive'%>
</div>