<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= render 'layouts/partials/footer_sitemap' %>
      </div>
      <div class="col-xs-6 add-event">
        <%= link_to 'Dodaj wydarzenie', new_event_path, class: 'btn btn-primary btn-lg' if user_signed_in?%>
      </div>
    </div>
    <p class="copyright">Copyright Radosław Stolarski 2015</p>
  </div>
</footer>