<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header" data-no-turbolink>
      <button type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#collapsibleMenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('.app_name'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleMenu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Pomoc</a></li>
        <li><a href="#">Jezyk</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </div>
</nav>

